{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Avatar's Story 7 Page
        </title>

        <script src="{% static 'app6/myJquery.js' %}"></script>
        <script src="{% static 'app6/accordion.js' %}"></script>
        
        <!-- Bootstrap core CSS -->
        <link href="{% static 'app6/bootstrap.min.css' %}" rel="stylesheet">

        <!-- My StyleSheet inspired by Cover by @mdo -->
        <link href="{% static 'app6/myCSS.css' %}" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'app6/styles.css' %}">
    </head>
    <body>
        <div class="container mt-auto mb-auto">
            <div class="row align-content-center">
                <div class="col">
                    <h1 style="text-align: center;">Hello, my name's Avatar.</h1>
                </div>
            </div>

            <div class="wrapper">
                <div class="accordion_wrap accordion">
                    <div class="accordion_header">
                        <p id="header_1"></p>
                    </div>
                    <div class="accordion_body">
                        <p id="body_1"></p>
                    </div>
                </div>
                <div class="accordion_wrap accordion">
                    <div class="accordion_header">
                        <p id="header_2"></p>
                    </div>
                    <div class="accordion_body">
                        <p id="body_2"></p>
                    </div>
                </div>
                <div class="accordion_wrap accordion">
                    <div class="accordion_header">
                        <p id="header_3"></p>
                    </div>
                    <div class="accordion_body">
                        <p id="body_3"></p>
                    </div>
                </div>
                <div class="accordion_wrap accordion">
                    <div class="accordion_header">
                        <p id="header_4"></p>
                    </div>
                    <div class="accordion_body">
                        <p id="body_4"></p>
                    </div>
                </div>
            </div>
        </div>

        
        <!-- <script src="{% static 'app6/bootstrap.min.js' %}"></script> -->
        
        <!-- <script src="{% static 'app6/accordion.js' %}"></script> -->
    </body>

</html>